/*CSS reset settings here*/
*{
 /*outline: 1px solid red;*/
 /*margin: 0 auto;
 padding: 0px;*/
 font-family: Arial, Verdana, sans-serif;
}
div.container{
	width:620px;
	height: 800px;
	margin: 0 auto;
	padding:20px;
	background-color: black;
	border-left: 3px solid gray;

}
	div.picture {
		/*min-height: 50px;*/
		width: 98%;
	}
	div.picture{
		height: 215px;
		width: 272px;
		margin: 14px;
		display: inline-block;
		border: 3px solid white;
		vertical-align: top;
	}
	h1{
		color: white;
	}
	p{
		color:white;
	}